
.hide2{

    opacity: 0;
  
  }
  
  .time{
    transition: all 5s ease;
  }

  .vader{  
    
      display: flex;
      
      margin-top: 100px;
      
      
      

    
  }

 

  body{
      background-color: black;
      height: 1200px;
      width: auto;
  }

  h1{  
      color: white;
      margin-left: 50px;

      


      


           
      
  }

  

  .red{
    
    height: 650px;
    width: 10px;
    background-color: red;
    border-radius: 200px;
    
    transform: rotate(-15deg);
    
   

    

    margin-left: 90px;


    
    
  }

  .white{
      height: 570px;
      width:4px ;
      background-color: white;
      
      margin-top: 3px;
      border-radius: 100px;
      margin-left: 2.5px;
      
      
      
      

  }

  .sidious{display: flex;
      height: 500px;
      width: auto;
      margin-top: 250px;
      

  }

  .w{
      width: 750px;
      height: 400px;
      background-color: white;
      position: relative;
      top: 15px;
      left: 200px;
      
      
      
       
  } 
  .box{position: absolute;
    zoom: 0.6;
    top: 25px;
    
    
  }

  .text{

    zoom: 1.5;
    margin-left: 50px;
    
  }
  button{
    zoom: 2;
  }